
h1{
	font-family: Sans-Serif;
	font-size:36px;
	text-align: center;
	color: #003082;
	
}

svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.chart-area {
    position: relative;
}

.x-axis, .y-axis{
	stroke: #666;
}

.bar{
	fill:#FFC917;
}

.y-axis text {
    fill: #003082;
    font-size: 12px;
}

.y-axis path,
.y-axis line {
    opacity: 0;
}

.current-date{
font-size: 24px;
  fill: #d3d3d3;
  text-anchor: end;
}

.bar-label {
    font-size: 11px;
    fill: #003082; 
}

